<% if logged_in? %>
    <script id='bootstrap-current-user' type='text/javascript'>
        window.currentUser = <%= render("api/users/user.json.jbuilder",
          user: current_user) %>
    </script>
<% end %>

<div id='root'>Something Went Wrong</div>